# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/

# Editors
.vscode/

# Project files
config.yml
config.local.yml
config.ntfy.yml
config.telegram.yml
mqtt-alerts.sqlite3
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
mqtt-alerts.code-workspace
docker-compose.local.yml
mosquitto/
state/
